@page "/game"
@inject Game game
@inject NavigationManager navigatioinManager
<HeaderComponent>
    <div class="menu-icon">
        <i class="codicon codicon-menu"></i>
    </div>
</HeaderComponent>
<main class="px-3 pt-3">
     @if (game.IsSetup)
    {
        <div class="d-flex flex-row flex-wrap gap-1">
            @foreach(var player in game.Players)
            {
                <button type="button" class="btn btn-primary position-relative me-1 flex-fill">
                    @player.Name <span class="badge bg-light text-black ms-2">@player.Score</span>
                    @if(game.CurrentPlayer == player)
                    {
                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">کاربر فعلی</span>
                        </span>
                    }
                </button>
            }
        </div>        
         <div class="pt-3">
            @if (!game.IsGameOver)
            {
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header bg-secondary text-white">صفات بارز وی چه بود؟ <span class="float-end">سئوال @(game.CurrentQuestionIndex + 1)</span></div>
                            <div class="card-body">
                                <p class="p-3 text-justify">@game.GetCurrentQuestion.Text</p>
                            </div>
                            <div class="card-body @isAnsweredCss">
                                <button class="btn btn-primary btn-lg" @onclick="ShowAnswer">نمایش پاسخ</button>
                            </div>
                            @if (isAnswered)
                            {
                                <div class="card-footer pb-3 pt-3">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">پاسخ درست:</span>
                                        <div class="form-control">@game.GetCurrentQuestion.Answer از صفات بارز وی بود</div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <div class="btn-group" role="group mt-3 mb-3">
                                            <button class="btn btn-success" type="submit" id="button-submit" @onclick="() => {game.SubmitAnswer(game.GetCurrentQuestion.Answer); isAnswered = false;}">پاسخ بازیکن درست است</button>
                                            <button class="btn btn-danger" type="submit" id="button-submit" @onclick="()=> {game.SubmitAnswer(string.Empty); isAnswered = false;}">پاسخ بازیکن غلط است</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            } else
            {
                <div class="d-flex flex-column flex-wrap align-content-center justify-content-center align-items-center gap-3 pt-3">
                    <div class="text-center">
                        <h1>@game.Players.First( p => p.Score == game.Players.Max(x => x.Score)).Name برنده شد!</h1>
                        
                    </div>
                    <div class="text-center w-50">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256.1 256.08"><title>برنده مسابقه</title><path d="M.05,209c3.93-8.66,10.75-11.39,20-11.15,20,.52,40,.17,59.92.49,4,.07,1.94-2.42,2-3.52.14-17.81.09-35.63.1-53.44,0-13,5.47-18.39,18.53-18.39q28.22,0,56.44,0c11,0,17,5.94,17.05,16.86q.06,15.72,0,31.46c0,2.26.05,3,3.07,2.93,21.64-.33,43.28-.33,64.93-.14,7.13.06,11,5.12,14,10.89,0,22.64,0,45.27.05,67.91,0,2.27-.22,3.17-3,3.17q-125.08-.15-250.16,0c-2.65,0-3-.78-3-3.13C.11,238.29.05,223.65.05,209Zm92-17.93v45.5c0,9.49,0,9.23,9.28,9.54,4.22.14,4.84-1.44,4.78-5.11-.2-12.5,0-25-.11-37.5,0-3.81.92-7,5.21-6.9,4,.07,4.91,3.12,4.88,6.74-.09,12.83.06,25.66-.1,38.49,0,3.19.73,4.29,4.11,4.24,13.33-.19,26.66-.21,40,0,3.53,0,4-1.31,4-4.34-.09-33.67,0-67.33-.07-101,0-6.11-1.58-7.71-7.64-7.72q-28.26,0-56.5,0c-6.33,0-7.81,1.55-7.82,8Q92,166.08,92.06,191.07Zm118,54.92c10.82,0,21.64-.1,32.45.07,2.87,0,3.62-.84,3.6-3.65-.13-17.3-.09-34.61-.05-51.91,0-4.65-2.3-6.53-6.81-6.51q-29.2.09-58.41,0c-4.51,0-6.8,1.88-6.79,6.52,0,17.31.08,34.61-.05,51.92,0,2.83.76,3.67,3.62,3.63C188.43,245.9,199.25,246,210.06,246ZM45.67,246c10.82,0,21.63-.09,32.45.06,2.85,0,4.1-.4,4-3.72-.25-9.14,0-18.3-.1-27.45,0-5.09-1.78-6.84-6.88-6.85-19.47,0-38.94,0-58.41,0-4.57,0-6.73,2-6.69,6.61.07,9.16.19,18.31-.07,27.46-.1,3.48,1.17,4,4.24,4C24.7,245.88,35.19,246,45.67,246Z" style="fill:#050504" /><path d="M256.05,118c-4.61,4.54-9.14,9.17-13.88,13.56a5.39,5.39,0,0,0-1.84,5.7q1.51,7.32,2.65,14.71c.4,2.58.94,5.32-1.92,7.17-2.58,1.68-4.75.5-7-.71-.15-.08-.29-.18-.44-.25-5.31-2.69-10.63-7.5-15.93-7.48s-10.64,4.82-15.91,7.62c-2.4,1.27-4.7,2.67-7.36.64s-2.07-4.52-1.58-7.25c1.05-5.87,3.87-12.44,2.21-17.49s-7.85-8.69-12.14-12.86c-2-1.92-3.82-3.83-2.91-6.87s3.65-3.49,6.37-3.76a11.61,11.61,0,0,1,2-.39c13,1.13,19.88-5.92,23.54-17.51.87-2.78,2.11-5.81,5.91-5.86s4.7,3.17,6.11,5.72c.8,1.44,1.43,3,2.16,4.47,5.57,11.33,5.58,11.27,18.17,12.82,4.18.51,8.74.14,11.8,4Zm-16,2.42-1-1.08a18,18,0,0,0-2.81-.35c-8.21.11-14-3.13-16.21-11.49a1.17,1.17,0,0,0-.21-.45c-.75-.85-.65-2.66-1.94-2.61-.61,0-1.45,1.61-1.71,2.61-2.34,9.1-8.83,12-17.43,12-.72,0-1.7-.24-2.17.94,2.66,3.92,7.83,6,9.35,10.6s-1.51,9.47-1.13,15.6c8.84-8.55,17.53-7.94,26.8-.82C227.28,134.32,229.81,126.1,240,120.42Z" style="fill:#12120d" /><path d="M.05,138c4.59-5,11.1-4,16.76-4.64,5.84-.64,9.4-2.58,11.33-8.18a68.67,68.67,0,0,1,5.18-10.72c2.74-5,7.12-4.9,9.83.15,2.42,4.53,4.8,9.1,6.8,13.83,1.21,2.86,3.09,4,5.95,4.32,5.11.63,10.2,1.47,15.3,2.14,2.33.31,4.2,1.18,4.87,3.58a5.53,5.53,0,0,1-1.86,5.82c-4,3.78-7.79,7.74-11.81,11.48a4.79,4.79,0,0,0-1.64,5.2c1.15,5.35,1.8,10.81,2.8,16.2a5.42,5.42,0,0,1-1.9,5.77c-2,1.59-4,1.15-6,.07-4.69-2.47-9.51-4.73-14.06-7.44-2.5-1.5-4.39-1.29-6.77.1-4.45,2.58-9,4.94-13.63,7.22-5.14,2.55-8.74.21-8.12-5.43a157.65,157.65,0,0,1,2.64-15.72,6.11,6.11,0,0,0-2.07-6.55C9,150.93,4.56,146.41.05,142Zm38.26-10.36C35,138.75,28.47,144.52,16.2,143.5c10,6.55,12.56,15,8.69,26.09,9.35-8.45,18-6.59,26.81.27-.15-6-2.91-10.72-1.4-15.36s7.09-6.54,9.76-11.76C48.12,144.23,41.33,139.08,38.31,127.64Z" style="fill:#13120e" /><path d="M130.05,0c2.48,2.05,3.23,4.67,3.08,7.86-.22,4.45,0,8.93-.07,13.39,0,3.47-1.53,5.88-5.25,5.74-3.44-.13-4.76-2.51-4.77-5.74,0-5.13.14-10.26-.05-15.38-.11-2.69,1.61-4.14,3.06-5.87Z" style="fill:#0b0b0b" /><path d="M102.77,102.17c.86-5,1.73-10.72,2.89-16.42a4.5,4.5,0,0,0-1.5-4.81c-3.92-3.61-7.67-7.39-11.53-11.07-1.9-1.82-3.39-3.82-2.39-6.58.9-2.5,3-3.18,5.53-3.49,5.27-.67,10.5-1.65,15.78-2.33A5.11,5.11,0,0,0,116,54.18c2.23-4.81,4.67-9.52,7-14.29,1.07-2.22,2.41-4,5.18-4s4,1.87,5.09,4.08c2.18,4.47,4.69,8.79,6.56,13.37,1.19,2.91,3.07,4,5.9,4.32,5.11.65,10.19,1.51,15.3,2.16,2.36.29,4.19,1.24,4.94,3.53s-.13,4.19-1.83,5.82c-3.84,3.69-7.57,7.51-11.49,11.11-1.9,1.73-2.63,3.3-2,6a147.85,147.85,0,0,1,2.69,16.22c.63,5.35-2.93,7.77-7.81,5.39S135.71,103,131,100.31a5.3,5.3,0,0,0-5.9.08c-4.77,2.68-9.62,5.24-14.54,7.63C105.87,110.28,102.51,108,102.77,102.17ZM150.85,68.9c-6.21-1.72-11.63-.56-15.5-3.47s-4.25-8.38-7.9-13.21c-2.45,11.89-9.66,17-21.57,16.41,10.49,6.34,12.44,14.9,8.64,25.93,9.2-7.65,17.91-7.65,27.34,0C137.12,83.31,140.21,75.12,150.85,68.9Z" style="fill:#11100c" /><path d="M95.07,37.66c-.19,4.23-4.69,6.73-7.6,4.22C82.71,37.75,78.38,33.11,74,28.53c-1.74-1.82-1.33-4.07.17-5.92s4-2.61,5.82-1.23A80.55,80.55,0,0,1,94.47,35.74,4.79,4.79,0,0,1,95.07,37.66Z" style="fill:#121313" /><path d="M183.09,25.73c0,3.1-14,17.23-17.09,17.16a5,5,0,0,1-4.41-2.83A4.13,4.13,0,0,1,162.1,35q6.38-6.66,13.06-13a4.39,4.39,0,0,1,5.57-.31A4.63,4.63,0,0,1,183.09,25.73Z" style="fill:#121313" /><path d="M92.06,191.07q0-25,0-50c0-6.5,1.49-8,7.82-8q28.24,0,56.5,0c6.06,0,7.64,1.61,7.64,7.72,0,33.67,0,67.33.07,101,0,3-.47,4.39-4,4.34-13.33-.22-26.66-.2-40,0-3.38.05-4.15-1-4.11-4.24.16-12.83,0-25.66.1-38.49,0-3.62-.92-6.67-4.88-6.74-4.29-.09-5.24,3.09-5.21,6.9.1,12.5-.09,25,.11,37.5.06,3.67-.56,5.25-4.78,5.11-9.27-.31-9.28-.05-9.28-9.54Zm18.84-15.42c-3.05.45-4.94,2.06-4.79,5.21a5,5,0,1,0,9.9-.4C115.89,177.31,113.87,175.88,110.9,175.65Z" style="fill:#f37444" /><path d="M210.06,246c-10.81,0-21.63-.09-32.44.07-2.86,0-3.64-.8-3.62-3.63.13-17.31.09-34.61.05-51.92,0-4.64,2.28-6.54,6.79-6.52q29.21.07,58.41,0c4.51,0,6.82,1.86,6.81,6.51,0,17.3-.08,34.61.05,51.91,0,2.81-.73,3.69-3.6,3.65C231.7,245.89,220.88,246,210.06,246Z" style="fill:#bfdb83" /><path d="M45.67,246c-10.48,0-21-.11-31.45.06-3.07,0-4.34-.51-4.24-4,.26-9.15.14-18.3.07-27.46,0-4.6,2.12-6.62,6.69-6.61,19.47,0,38.94,0,58.41,0,5.1,0,6.85,1.76,6.88,6.85,0,9.15-.15,18.31.1,27.45.09,3.32-1.16,3.76-4,3.72C67.3,245.9,56.49,246,45.67,246Z" style="fill:#9ed9da" /><path d="M240,120.42c-10.2,5.68-12.73,13.9-8.51,25-9.27-7.12-18-7.73-26.8.82-.38-6.13,2.68-11,1.13-15.6s-6.69-6.68-9.35-10.6c.47-1.18,1.45-.94,2.17-.94,8.6,0,15.09-2.93,17.43-12,.26-1,1.1-2.59,1.71-2.61,1.29,0,1.19,1.76,1.94,2.61a1.17,1.17,0,0,1,.21.45c2.2,8.36,8,11.6,16.21,11.49a18,18,0,0,1,2.81.35Z" style="fill:#f9d868" /><path d="M38.31,127.64c3,11.44,9.81,16.59,21.75,15.1-2.67,5.22-8.25,7.15-9.76,11.76s1.25,9.4,1.4,15.36c-8.78-6.86-17.46-8.72-26.81-.27,3.87-11.11,1.28-19.54-8.69-26.09C28.47,144.52,35,138.75,38.31,127.64Z" style="fill:#f9d868" /><path d="M150.85,68.9c-10.64,6.22-13.73,14.41-9,25.71-9.43-7.7-18.14-7.7-27.34,0,3.8-11,1.85-19.59-8.64-25.93,11.91.55,19.12-4.52,21.57-16.41,3.65,4.83,4.11,10.36,7.9,13.21S144.64,67.18,150.85,68.9Z" style="fill:#f8d049" /><path d="M110.9,175.65c3,.23,5,1.66,5.11,4.81a5,5,0,1,1-9.9.4C106,177.71,107.85,176.1,110.9,175.65Z" style="fill:#220e03" /></svg>
                    </div>
                    <div class="d-grid">
                        <a class="btn btn-primary btn-lg shadow-sm" href="config-game">شروع یک بازی جدید</a>
                    </div>
                </div>

            }
        </div> 
    }
</main>
@code {
    private Question question = new Question();
    private bool isAnswered = false;
    private string isAnsweredCss { get { return isAnswered ? "d-none" : "d-grid"; } }
    private void ShowAnswer()
    {
        isAnswered = true;
    }
    protected override void OnInitialized()
    {
        if(!game.IsSetup)
        {
            navigatioinManager.NavigateTo("config-game");
        }
        base.OnInitialized();
    }
}
